* {
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.website-content-description{
    text-align: center;
}
p {
    font-size: 20px;
}
.recipes {
    background-color: #df901936;
}

ul {
    list-style-type: circled-alpha;
}

.header-title-nav-wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#site-title {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;     
}

.header-title-nav-wrapper a:hover {
    text-decoration: underline  ;
}

.recipes-box {
    text-align: center;
}

.recipes-box-item {
    width: 300px;
    height: 225px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    margin: auto 5px;
    
}

.recipes-box-row {
    margin: 10px;
}
@media screen{
    .recipee-container{
        width: 60%;
        margin: 0 auto;
        text-align: center;

    }
    .recipee-container-recipee-image img{
        margin: 0 auto;
        width: 600px;
        height: 450px;
    }
    .recipee-container-recipee-ingredients{
        margin: 0 auto;    
        width: 50%;
    }
    .recipee-container-recipee-steps{
        margin: 0 auto;     
        width: 50%;
    }
    #recipee-ingredients-list{
        text-align: left;
        list-style-position: inside ;
    }
    #recipee-steps-list{
        text-align: left;
        list-style-position: inside ;
    }
}

