* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: yellowgreen;
}

.recipes {
    background-color: rgb(223, 144, 25);
}

@counter-style circled-alpha {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ;
    suffix: " ";
}

ul {
    list-style-type: circled-alpha;
}
.header-title-nav-wrapper{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
#site-title {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
}